<!-- PAGE -->
<div id="page" class="hfeed site">
  <!-- .site-main -->
  <main id="main" class="site-main cd-main">
    <!-- HEADER -->
    <%- include("../partials/header") %>

    <!-- HEADER -->

    <!-- site-middle -->
    <div class="site-middle">
      <div class="layout-medium">
        <div id="primary" class="content-area">
          <!-- site-content -->
          <div id="content" class="site-content" role="main">
            <!-- .page-single -->
            <div class="page-single page-layout">
              <!-- .hentry -->
              <article class="page hentry">
                <!-- .entry-header -->
                <header class="entry-header">
                  <h1 class="entry-title">İletişim</h1>
                </header>
                <!-- .entry-header -->

                <!-- .entry-content -->
                <div class="entry-content">
                  <!-- .boxed -->
                  <div class="boxed">
                    <!-- row -->
                    <div class="row">
                      <!-- column 3/12 -->
                      <div class="col-xs-6 col-sm-3">
                        <!-- fun-fact -->
                        <div class="fun-fact">
                          <!--<i class="pe-7s-map-marker"></i>-->
                          <img
                            src="/tema1/images/site/icon-location.svg"
                            alt="image"
                          />
                          <!--<img src="/tema1/images/site/icon-03.png" alt="image"/>-->
                          <h4><%= creater.location %></h4>
                        </div>
                        <!-- fun-fact -->
                      </div>
                      <!-- column 3/12 -->

                      <!-- column 3/12 -->
                      <div class="col-xs-6 col-sm-3">
                        <!-- fun-fact -->
                        <div class="fun-fact">
                          <!--<i class="pe-7s-call"></i>-->
                          <img
                            src="/tema1/images/site/icon-phone.svg"
                            alt="image"
                          />
                          <h4><%= creater.phone %></h4>
                        </div>
                        <!-- fun-fact -->
                      </div>
                      <!-- column 3/12 -->

                      <!-- column 3/12 -->
                      <div class="col-xs-6 col-sm-3">
                        <!-- fun-fact -->
                        <div class="fun-fact">
                          <!--<i class="pe-7s-mail"></i>-->
                          <img
                            src="/tema1/images/site/icon-mail.svg"
                            alt="image"
                          />
                          <h4><%= creater.email %></h4>
                        </div>
                        <!-- fun-fact -->
                      </div>
                      <!-- column 3/12 -->

                      <!-- column 3/12 -->
                      <div class="col-xs-6 col-sm-3">
                        <!-- fun-fact -->
                        <div class="fun-fact">
                          <!--<i class="pe-7s-check"></i>-->
                          <img
                            src="/tema1/images/site/icon-check.svg"
                            alt="image"
                          />
                          <h4><%= creater.available %></h4>
                        </div>
                        <!-- fun-fact -->
                      </div>
                      <!-- column 3/12 -->
                    </div>
                    <!-- row -->
                  </div>
                  <!-- .boxed -->

                  <!-- section-title -->
                  <div class="section-title center">
                    <h2>
                      <i>Bana bir mesaj bırak</i>
                    </h2>
                  </div>
                  <!-- section-title -->

                  <h2 class="center fw-300">
                    <strong>Uygun</strong> olup / olmadığımı öğren veya bana
                    birşey sor.
                  </h2>

                  <!-- .contact-form -->
                  <div class="contact-form">
                    <form
                      id="contact-form"
                      class="validate-form"
                      method="post"
                      action="send-mail.php"
                    >
                      <!-- enter mail subject here -->
                      <input
                        type="hidden"
                        name="subject"
                        id="subject"
                        value="You have a new message from ikonik!"
                      />

                      <p>
                        <input
                          placeholder="İsim"
                          type="text"
                          name="name"
                          id="name"
                          class="required"
                        />
                      </p>

                      <p>
                        <input
                          placeholder="E-posta"
                          type="text"
                          name="email"
                          id="email"
                          class="required email"
                        />
                      </p>

                      <p class="antispam">
                        Leave this empty if you are a human : <br /><input
                          name="url"
                        />
                      </p>

                      <p>
                        <textarea
                          placeholder="Mesajınız"
                          name="message"
                          id="message"
                          class="required"
                        ></textarea>
                      </p>

                      <p>
                        <button class="submit button primary">Send</button>
                      </p>
                    </form>
                  </div>
                  <!-- .contact-form -->
                </div>
                <!-- .entry-content -->
              </article>
              <!-- .hentry -->
            </div>
            <!-- .page-single -->
          </div>
          <!-- site-content -->
        </div>
        <!-- primary -->
      </div>
      <!-- layout -->
    </div>
    <!-- site-middle -->

    <!-- .site-footer -->
    <%- include("../partials/footer") %>
    <!-- .site-footer -->
  </main>
  <!-- .site-main -->

  <!-- ALERT : used for contact form mail delivery alert -->
  <div class="site-alert animated"></div>
</div>
<!-- PAGE -->

<a href="#" id="back-to-top" class="show">↑ <span>Scroll to top</span></a>
