<!-- HEADER -->
<header id="masthead" class="header" role="banner">
  <!-- header-wrap -->
  <div class="header-wrap layout-full">
    <img src="/tema1/images/home/cover.jpg" alt="profile-image" />

    <div class="home-heading">
      <div class="home-logo">
        <p class="home-job-title"><%= creater.title %></p>

        <p class="home-marquee"><%= creater.about %></p>

        <!-- <i class="home-logo-left"><span>Web</span></i> -->
        <i class="home-logo-center">
          <span class="home-icon">
            <img src="/tema1/images/home/icon.svg" alt="icon" />
          </span>
          <span class="home-text-container">
            <p class="home-text-container-placeholder">
              <%= creater.name %> <%= creater.lastName %>
            </p>
          </span>
          <span class="home-text"
            ><%= creater.name %> <%= creater.lastName %></span
          >
        </i>
        <!--<i class="home-logo-right"><span>Developer</span></i>-->
      </div>
    </div>

    <!-- HOME BG LOGO -->
    <div class="home-bg-logo">
      <img src="/tema1/images/home/icon-bg2.svg" alt="icon" />
    </div>
    <!-- HOME BG LOGO -->

    <!-- header-social -->
    <div class="header-bottom">
      <% socialMedias.forEach((d)=> {%>
      <a class="social-link <%= d.name %>" href="<%= d.url %>"></a>
      <%}) %>
    </div>
    <!-- header-social -->

    <!-- NAV MENU -->
    <nav
      id="primary-navigation"
      class="site-navigation primary-navigation"
      role="navigation"
    >
      <div class="nav-menu menu-with-icons">
        <ul>
          <li><a class="home" href="/">Anasayfa</a></li>
          <li><a class="return" href="/blog">Bloğa geri dön</a></li>
          <li><a class="search-toggle">Search</a></li>
        </ul>
      </div>
    </nav>
    <!-- NAV MENU -->

    <!-- SEARCH -->
    <div class="header-search">
      <form role="search" method="get" class="search-form" action="#">
        <label>
          <span class="screen-reader-text">Search for:</span>
          <input
            type="search"
            class="search-field"
            placeholder="Enter Keyword"
            value=""
            name="s"
          />
        </label>
        <input type="submit" class="search-submit" value="Search" />
      </form>
    </div>
    <!-- SEARCH -->
  </div>
  <!-- header-wrap -->
</header>
<!-- HEADER -->
