<!-- PAGE -->
<div id="page" class="hfeed site">
  <!-- .site-main -->
  <main id="main" class="site-main cd-main">
    <!-- HEADER -->
    <%- include("../partials/header") %>

    <!-- HEADER -->

    <!-- site-middle -->
    <div class="site-middle">
      <div class="layout-medium">
        <div id="primary" class="content-area with-sidebar">
          <!-- site-content -->
          <div id="content" class="site-content" role="main">
            <!-- blog-regular -->
            <div class="blog-regular page-layout">
              <!-- .hentry -->
              <%articles.forEach((d)=> {%>
              <article class="hentry post has-post-thumbnail">
                <!-- .entry-header -->
                <header class="entry-header">
                  <!-- .entry-title -->
                  <h2 class="entry-title">
                    <a href="/blog/single/<%= d.url %>"><%= d.title %></a>
                  </h2>

                  <!-- .entry-meta -->
                  <div class="entry-meta">
                    <span class="entry-date">
                      <time class="entry-date"><%= d.time.shortDate %></time>
                    </span>
                    <span class="comment-link">
                      <a href="#comments"><%= d.comments.length %> yorum</a>
                    </span>
                    <span class="cat-links">
                      <a
                        href="/blog/category/<%= d.category.url  %>"
                        title="View all posts in Travel"
                        rel="category tag"
                        ><%= d.category.name %></a
                      >
                    </span>
                    <!--<span class="edit-link">
                                                          <a class="post-edit-link" href="#">Edit</a>
                                                      </span>-->
                  </div>
                  <!-- .entry-meta -->
                </header>
                <!-- .entry-header -->

                <!-- .featured-image -->
                <div class="featured-image">
                  <a href="/blog/single/<%= d.url %>">
                    <img src="<%= d.mainImage %>" alt="blog-image" />
                  </a>
                </div>
                <!-- .featured-image -->

                <!-- .entry-content -->
                <div class="entry-content excerpt">
                  <%- d.shortContent %>

                  <p class="more">
                    <a href="/blog/single/<%= d.url %>" class="more-link"
                      >Devamını oku</a
                    >
                  </p>
                </div>
                <!-- .entry-content -->
              </article>

              <% }) %>

              <!-- .hentry -->

              <!-- .navigation .pagination -->
              <nav class="navigation pagination" role="navigation">
                <!-- .nav-links -->
                <div class="nav-links">
                  <!-- <a class="page-numbers" href="#">Devamını getir</a> -->
                </div>
                <!-- .nav-links -->
              </nav>
              <!-- .navigation .pagination -->
            </div>
            <!-- blog-regular -->
          </div>
          <!-- site-content -->
        </div>
        <!-- primary -->

        <!-- #secondary -->
        <div id="secondary" class="widget-area sidebar" role="complementary">
          <!-- widget : categories -->
          <aside class="widget widget_categories">
            <h3 class="widget-title">Kategoriler</h3>
            <ul>
              <% categories.forEach((d)=> { %>
              <li class="cat-item">
                <a href="/blog/category/<%= d.url %>"><%= d.name%> </a>
              </li>
              <% }) %>
            </ul>
          </aside>
          <!-- widget : categories -->

          <!-- widget : popular-posts -->
          <!-- styles for plugin : https://wordpress.org/plugins/top-10 -->
          <aside class="widget widget_widget_tptn_pop">
            <h3 class="widget-title">Son Yazılar</h3>
            <div class="tptn_posts tptn_posts_widget">
              <ul>
                <% articles.forEach((d)=> { %>
                <li>
                  <a href="/blog/single/<%= d.url %>" class="tptn_link">
                    <img
                      src="<%= d.mainImage %>"
                      alt="post-image"
                      class="tptn_thumb"
                    />
                  </a>
                  <span class="tptn_after_thumb">
                    <a href="/blog/single/<%= d.url %>" class="tptn_link"
                      ><span class="tptn_title"><%= d.title %></span></a
                    >
                    <!--<span class="tptn_author"> by <a href="#">Johnny Doe</a></span>-->
                    <span class="tptn_date"><%= d.time.shortDate %></span>
                  </span>
                </li>

                <% }) %>
              </ul>
            </div>
          </aside>
          <!-- widwget : popular-posts -->
        </div>
        <!-- #secondary -->
      </div>
      <!-- layout -->
    </div>
    <!-- site-middle -->

    <!-- .site-footer -->
    <%- include("../partials/footer") %>

    <!-- .site-footer -->
  </main>
  <!-- .site-main -->

  <!-- ALERT : used for contact form mail delivery alert -->
  <div class="site-alert animated"></div>
</div>
<!-- PAGE -->

<a href="#" id="back-to-top" class="show">↑ <span>Scroll to top</span></a>
