<!-- PAGE -->
<div id="page" class="hfeed site">
  <!-- .site-main -->
  <main id="main" class="site-main cd-main">
    <%- include("../partials/headerBlog") %>
    <!-- buraya-->
    <!-- site-middle -->
    <div class="site-middle">
      <div class="layout-medium">
        <div id="primary" class="content-area">
          <!-- site-content -->
          <div id="content" class="site-content" role="main">
            <!-- .page-single -->
            <div class="page-single page-layout">
              <!-- .hentry -->
              <article class="page hentry">
                <!-- .entry-header -->
                <header class="entry-header">
                  <h1 class="entry-title"><%= s.currentInfo.title %></h1>
                </header>
                <!-- .entry-header -->

                <!-- .entry-content -->
                <div class="entry-content">
                  <!-- LATEST POSTS -->
                  <div
                    class="latest-posts media-grid masonry"
                    data-layout="fitRows"
                    data-item-width="360"
                  >
                    <!-- post -->
                    <% articles.forEach((d)=> { %>
                    <article class="hentry media-cell">
                      <div class="media-box">
                        <img src="<%= d.mainImage %>" alt="post-image" />
                        <div class="mask"></div>
                        <span class="media-date">
                          <span class="day"><%= d.time.dayNumber %></span>
                          <span class="month"><%= d.time.monthText %></span>
                          <span class="year"><%= d.time.yearNumber %></span>
                        </span>
                        <span class="creater">
                          <span class="name"><%= d.creater.username %></span>
                        </span>
                        <a href="/blog/single/<%= d.url %>"></a>
                      </div>

                      <header class="media-cell-desc">
                        <span class="cat-links">
                          <a
                            href="/blog/category/<%= d.category.url %>"
                            rel="category tag"
                            ><%= d.category.name %></a
                          >
                        </span>
                        <h3>
                          <a href="/blog/single/<%= d.url %>"><%= d.title %></a>
                        </h3>
                      </header>
                    </article>
                    <% }) %>

                    <!-- post -->
                  </div>
                  <!-- LATEST POSTS -->

                  <p class="launch">
                    <a class="button primary" href="/blog">Tümünü gör</a>
                  </p>
                </div>
                <!-- .entry-content -->
              </article>
              <!-- .hentry -->
            </div>
            <!-- .page-single -->
          </div>
          <!-- site-content -->
        </div>
        <!-- primary -->
      </div>
      <!-- layout -->
    </div>
    <!-- site-middle -->

    <!-- .site-footer -->
    <%- include("../partials/footer") %>
    <!-- .site-footer -->
  </main>
  <!-- .site-main -->

  <!-- ALERT : used for contact form mail delivery alert -->
  <div class="site-alert animated"></div>
</div>
<!-- PAGE -->

<a href="#" id="back-to-top" class="show">↑ <span>Scroll to top</span></a>
