<!-- PAGE -->
<div id="page" class="hfeed site">
  <!-- .site-main -->
  <main id="main" class="site-main cd-main">
    <!-- HEADER -->
    <%- include("../partials/headerBlog") %>

    <!-- HEADER -->

    <!-- site-middle -->
    <div class="site-middle">
      <div class="layout-medium">
        <div id="primary" class="content-area with-sidebar">
          <!-- site-content -->
          <div id="content" class="site-content" role="main">
            <!-- .blog-single -->
            <div class="blog-single page-layout">
              <!-- .hentry -->
              <article
                class="post type-post hentry"
                data-id="<%= article._id %>"
              >
                <!-- .entry-header -->
                <header class="entry-header">
                  <h1 class="entry-title"><%= article.title %></h1>

                  <!-- .entry-meta -->
                  <div class="entry-meta">
                    <span class="entry-date">
                      <time class="entry-date"
                        ><%= article.time.shortDate %></time
                      >
                    </span>
                    <span class="comment-link">
                      <a href="#comments"
                        ><%= article.comments.length %> yorum</a
                      >
                    </span>
                    <span class="cat-links">
                      <a
                        href="/blog/category/<%= article.category.url %>"
                        title="View all posts in Travel"
                        rel="category tag"
                        ><%= article.category.name %></a
                      >
                    </span>
                    <!-- <span class="edit-link">
                      <a class="post-edit-link" href="#">Edit</a>
                    </span> -->
                  </div>
                  <!-- .entry-meta -->
                </header>
                <!-- .entry-header -->

                <!-- .featured-image -->
                <div class="featured-image">
                  <img src="<%= article.mainImage %>" alt="blog-image" />
                </div>
                <!-- .featured-image -->

                <!-- .entry-content -->
                <div class="entry-content">
                  <p><%- article.content %></p>

                    <footer class="entry-meta tags">
                      <% article.tags.forEach((e)=> {%>
                      <a href="" rel="tag"><%= e %></a>
                      <% })%>
                  </footer>
               
                </div>
                
                <!-- .entry-content -->

                <!-- .related-posts -->
                <div class="related-posts">
                  <!-- section-title -->
                  <div class="section-title center">
                    <h2>
                      <i>Son Yazılar</i>
                    </h2>
                  </div>
                  <!-- section-title -->

                  <!-- LATEST POSTS -->
                  <div class="latest-posts media-grid">
                    <!-- post -->
                    <% articles.forEach((d)=> { %>
                    <article class="media-cell">
                      <div class="media-box">
                        <img src="<%= d.mainImage %>" alt="post-image" />
                        <div class="mask"></div>
                        <a href="/blog/single/<%= d.url %>"></a>
                      </div>

                      <header class="media-cell-desc">
                        <h3>
                          <a href="/blog/single/<%= d.url %>"><%= d.title %></a>
                        </h3>
                      </header>
                    </article>
                    <% }) %>

                    <!-- post -->

                    <!-- post -->
                  </div>
                  <!-- LATEST POSTS -->
                </div>
                <!-- .related-posts -->
              </article>
              <!-- .hentry -->

              <!-- .nav-single -->
              <nav class="nav-single row">
                <div class="nav-previous col-sm-6">
                  <h6>Önceki yazı</h6>
                  <% if(article.previous){%>
                  <h3>
                    <a
                      href="/blog/single/<%= article.previous.url %>"
                      rel="prev"
                      ><span class="meta-nav">←</span> <%=
                      article.previous.title %></a
                    >
                  </h3>
                  <% }else {%>
                  <h3>-</h3>
                  <% }%>
                </div>

                <div class="nav-next col-sm-6">
                  <h6>Sonraki</h6>
                  <% if(article.next){%>

                  <h3>
                    <a href="/blog/single/<%= article.next.url %>" rel="next"
                      ><%= article.next.title %>
                      <span class="meta-nav">→</span></a
                    >
                  </h3>
                  <% }else {%>
                  <h3>-</h3>
                  <% }%>
                </div>
              </nav>
              <!-- .nav-single -->

              <!-- #comments -->
              <div id="comments" class="comments-area">
                <h3 class="comments-title">
                  <%= article.comments.length %> Yorum
                </h3>

                <!-- .commentlist -->
                <ol class="commentlist">
                  <li class="comment even thread-even depth-1">
                    <% article.comments.forEach((d)=> { %>
                    <!-- #comment-## -->
                    <article class="comment">
                      <!-- .comment-meta -->
                      <header class="comment-meta comment-author vcard">
                        <img
                          alt=""
                          src="/tema1/images/site/testo-01.jpg"
                          class="avatar"
                          height="75"
                          width="75"
                        />
                        <cite class="fn"
                          ><a href="#" rel="external nofollow" class="url"
                            ><%= d.name %></a
                          ></cite
                        >
                        <span class="comment-date"
                          ><%= d.time.shortDate %></span
                        >
                      </header>
                      <!-- .comment-meta -->

                      <!-- .comment-content -->
                      <section class="comment-content comment">
                        <p><%= d.comment %></p>
                      </section>
                      <!-- .comment-content -->

                      <!-- .reply -->
                      <div class="reply">
                        <a class="comment-reply-link" href="#">Reply</a>
                      </div>
                      <!-- .reply -->
                    </article>
                    <!-- #comment-## -->

                    <% }) %>
                  </li>
                  <!-- .comment depth-1 -->
                </ol>
                <!-- .commentlist -->

                <!-- #respond -->
                <div id="respond">
                  <h3 id="reply-title">
                    Bir yorum bırakın.
                    <small
                      ><a
                        rel="nofollow"
                        id="cancel-comment-reply-link"
                        href="#"
                        style="display: none"
                        >İptal</a
                      ></small
                    >
                  </h3>

                  <!-- .commentform -->
                  <form
                    action="#"
                    name="comment"
                    method="post"
                    id="commentform"
                  >
                    <p class="comment-notes">
                      E-posta hesabınız yayımlanmayacak. Gerekli alan
                      <span class="required">*</span>
                    </p>

                    <p class="comment-form-comment">
                      <label for="comment"
                        >Yorumunuz <span class="required">*</span></label
                      >
                      <textarea
                        id="comment"
                        name="comment"
                        rows="8"
                        aria-required="true"
                      ></textarea>
                    </p>

                    <p class="comment-form-author">
                      <label for="author"
                        >İsminiz <span class="required">*</span></label
                      >
                      <input
                        id="author"
                        name="author"
                        type="text"
                        size="30"
                        aria-required="true"
                      />
                    </p>

                    <p class="comment-form-email">
                      <label for="email"
                        >Eposta <span class="required">*</span></label
                      >
                      <input
                        id="email"
                        name="email"
                        type="text"
                        size="30"
                        aria-required="true"
                      />
                    </p>

                    <p class="comment-form-url">
                      <label for="url">Website</label>
                      <input id="url" name="url" type="text" size="30" />
                    </p>

                    <p class="form-allowed-tags">
                      You may use these
                      <abbr title="HyperText Markup Language">HTML</abbr> tags
                      and attributes:
                      <code
                        >&lt;a href="" title=""&gt; &lt;abbr title=""&gt;
                        &lt;acronym title=""&gt; &lt;b&gt; &lt;blockquote
                        cite=""&gt; &lt;cite&gt; &lt;code&gt; &lt;del
                        datetime=""&gt; &lt;em&gt; &lt;i&gt; &lt;q cite=""&gt;
                        &lt;strike&gt; &lt;strong&gt;
                      </code>
                    </p>

                    <p class="form-submit">
                      <div class="g-recaptcha" data-sitekey="6LfH1-gZAAAAABUjWZoJ-HRFRI5sp37ZQEMRGcjy"></div><br>

                      <input
                        type="submit"
                        class="button primary"
                        value="Gönder"
                        
                      />
                    </p>
                  </form>
                  <!-- .commentform -->
                </div>
                <!-- #respond -->
              </div>
              <!-- #comments -->
            </div>
            <!-- .blog-single -->
          </div>
          <!-- site-content -->
        </div>
        <!-- primary -->

        <!-- #secondary -->
        <div id="secondary" class="widget-area sidebar" role="complementary">
          <!-- widget : categories -->
          <aside class="widget widget_categories">
            <h3 class="widget-title">Kategoriler</h3>
            <ul>
              <% categories.forEach((d)=> { %>
              <li class="cat-item">
                <a href="/blog/category/<%= d.url %>"><%= d.name%> </a>
              </li>
              <% }) %>
            </ul>
          </aside>
          <!-- widget : categories -->

          <!-- widget : popular-posts -->
          <!-- styles for plugin : https://wordpress.org/plugins/top-10 -->
          <aside class="widget widget_widget_tptn_pop">
            <h3 class="widget-title">Son Yazılar</h3>
            <div class="tptn_posts tptn_posts_widget">
              <ul>
                <% articles.forEach((d)=> { %>
                <li>
                  <a href="/blog/single/<%= d.url %>" class="tptn_link">
                    <img
                      src="<%= d.mainImage %>"
                      alt="post-image"
                      class="tptn_thumb"
                    />
                  </a>
                  <span class="tptn_after_thumb">
                    <a href="/blog/single/<%= d.url %>" class="tptn_link"
                      ><span class="tptn_title"><%= d.title %></span></a
                    >
                    <!--<span class="tptn_author"> by <a href="#">Johnny Doe</a></span>-->
                    <span class="tptn_date"><%= d.time.shortDate %></span>
                  </span>
                </li>

                <% }) %>
              </ul>
            </div>
          </aside>
          <!-- widwget : popular-posts -->
        </div>
        <!-- #secondary -->
      </div>
      <!-- layout -->
    </div>
    <!-- site-middle -->

    <!-- .site-footer -->
    <%- include("../partials/footer") %>

    <!-- .site-footer -->
  </main>
  <!-- .site-main -->

  <!-- ALERT : used for contact form mail delivery alert -->
  <div class="site-alert animated"></div>
</div>
<!-- PAGE -->

<a href="#" id="back-to-top" class="show">↑ <span>Scroll to top</span></a>
